@{
    ViewBag.Title = "LuaChon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    DTO_Product_Item_Type item = (DTO_Product_Item_Type)Session["cart__"];
    //var total = cart.Sum(item => item.Product.Price * item.Quantity);
    //var total1 = cart.Count();
}
@using Model.DTO_Model;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="~/images/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/lib/slick/slick.css" rel="stylesheet">
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Template Stylesheet -->
    <link href="~/css/style_SP.css" rel="stylesheet">
</head>

<body>

    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="~/Product/Index">Danh sách sản phẩm</a></li>
                <li class="breadcrumb-item active">Thông tin thêm về sản phẩm</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Product Detail Start -->
    <div class="product-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product-detail-top">

                        <div class="row align-items-center">

                            <div class="col-md-5">

                                <div class="product-slider-single normal-slider">
                                    @if (item.Photo != null)
                                    {
                                        <img src="@Url.Content(item.Photo)" style="width:200px;height:300px;margin:auto" />
                                    }
                                    @if (item.Photo2 != null)
                                    {
                                        <img src="@Url.Content(item.Photo2)" style="width:200px;height:300px;margin:auto" />
                                    }
                                    @if (item.Photo3 != null)
                                    {
                                        <img src="@Url.Content(item.Photo3)" style="width:200px;height:300px;margin:auto" />
                                    }
                                </div>
                                <div class="product-slider-single-nav normal-slider">
                                    @if (item.Photo != null)
                                    {
                                        <div class="slider-nav-img"> <img src="@Url.Content(item.Photo)" /></div>
                                    }

                                    @if (item.Photo2 != null)
                                    {
                                        <div class="slider-nav-img"> <img src="@Url.Content(item.Photo2)" /></div>
                                    }
                                    @if (item.Photo3 != null)
                                    {
                                        <div class="slider-nav-img"> <img src="@Url.Content(item.Photo3)" /></div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="product-content">
                                    @item.Name
                                    <p id="message" style="color:red;font-style:italic">@ViewData["MessQuantity"]</p>
                                    <div class="ratting">
                                        @for (int i = 0; i < item.Rating; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        @for (int i = item.Rating; i < 5; i++)
                                        {
                                            <i class="fa fa-star-o"></i>

                                        }
                                    </div>

                                    @if (item.Items.Any())
                                    {
                                        var colors = item.Items.Select(s => s.Color);
                                        var sizes = item.Items.Select(s => s.Size).ToList();

                                        <div class="flex-column align-items-center">
                                            <label>Chọn màu</label>
                                            @{ string selectColor = "selectColor" + item._id; }
                                            <select name="@selectColor" required>
                                                @foreach (var item2 in item.Items)
                                                {

                                                    <option value="@item2._id">@item2.Color</option>
                                                }
                                            </select>
                                        </div>


                                        <div class="flex-column align-items-center">
                                            <label>Chọn size</label>
                                            @{ string selectSize = "selectSize" + item._id; }
                                            <select name="@selectSize">
                                                @foreach (var size in sizes)
                                                {
                                                    <option>@size</option>
                                                }
                                            </select>
                                        </div>

                                    }
                                    <div>
                                        <h4 class="product-price-range"> giá sản phẩm</h4>
                                        <p><span style="color:red"> @string.Format("{0:0,0}", item.Price) </span> VNĐ</p>
                                    </div>

                                    @*<div class="p-color">
            <div class="btn-group btn-group-sm">
                <a class="btn" href="@Url.Action("Remove_", "Cart", new { id = item.Id_SanPham })">Xóa khỏi sản phẩm yêu thích </a>
            </div>
        </div>*@
                                    <div class="row product-detail-bottom">
                                        <div class="col-lg-12">
                                            <ul class="nav nav-pills nav-justified">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="pill" href="#description">Chi tiết sản phẩm</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="description" class="container tab-pane active">

                                                    <p>

                                                        @item.Details
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a onclick="AddCart()" class="btn" href="@Url.Action("Details_Buy", "Cart", new { id = item._id })"><i class="fa fa-shopping-bag"></i>Mua hàng</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#reviews">Góp ý về sản phẩm (1)</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="reviews" class="container tab-pane fade">
                                        <div class="reviews-submitted">
                                            <div class="reviewer">Đánh giá của khách hàng - <span>@DateTime.Now</span></div>

                                            @foreach (var comment in item.Comments)
                                            {

                                                <tr>
                                                    <td>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <div class="mr-3">
                                                                <div class="icon-circle bg-primary">
                                                                    <i class="fas fa-file-alt text-white"></i>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="small text-gray-500">@comment.DateTimeComment</div>
                                                                <span class="font-weight-bold">@comment.FullName</span>
                                                                <br />
                                                                <P class="font-weight-bold">@comment.Content</P>
                                                            </div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </div>
                                        <div class="reviews-submit">
                                            <h4> Để lại đánh giá của bạn</h4>

                                            @using (Html.BeginForm("saveFeedbacksLuaChon", "Home", FormMethod.Post, new {onsubmit="return VerifyRating()"}))
                                            {
                                                <div class="row form">

                                                    <div class="col-sm-12">
                                                        <textarea name="details" placeholder="Nhập nội dung của bạn" required oninvalid="this.setCustomValidity('Vui lòng nhập nội dung')" oninput="this.setCustomValidity('')"></textarea>
                                                    </div>

                                                </div>
                                                <div class="form" onmouseout="CreateSelected()">

                                                    <i id="span1" onmouseout="CreateOut(1)" onmouseover="CreateOver(1)" onclick="CreateClick(1)" class="fa fa-star-o"></i>
                                                    <i id="span2" onmouseout="CreateOut(2)" onmouseover="CreateOver(2)" onclick="CreateClick(2)" class="fa fa-star-o"></i>
                                                    <i id="span3" onmouseout="CreateOut(3)" onmouseover="CreateOver(3)" onclick="CreateClick(3)" class="fa fa-star-o"></i>
                                                    <i id="span4" onmouseout="CreateOut(4)" onmouseover="CreateOver(4)" onclick="CreateClick(4)" class="fa fa-star-o"></i>
                                                    <i id="span5" onmouseout="CreateOut(5)" onmouseover="CreateOver(5)" onclick="CreateClick(5)" class="fa fa-star-o"></i>
                                                </div>
                                                <div>
                                                    <input name="rating" type="hidden" id="lbRating" />
                                                </div>
                                                <br />
                                                <div class="col-sm-12">
                                                    <input class="btn btn-outline-primary" onclick="AddCart()" type="submit" value="Gửi">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    @ViewData["ErrorMessage"]
                                </div>
                            </div>
                        </div>
                        @Html.Action("BagProductRecommend", "Product")

                        @section Upload {

                            <script>
                                $(document).ready(function submitPoll() {
                                    $('#message').html(data);
                                    refreshButton.disabled = true;
                                    setTimeout(function () {
                                        refreshButton.disabled = false;
                                    }, 5000);
                                });
                                $(function () {
                                    function show_popup() {
                                        $("#message").hide();
                                        //alert("1");
                                    };
                                    window.setTimeout(show_popup, 5000); // 5 seconds
                                });
                                function CreateOut(rating) {
                                    for (var i = 1; i <= rating; i++) {
                                        $("#span" + i).attr('class', 'fa fa-star-o');

                                    }
                                }

                                function CreateOver(rating) {
                                    for (var i = 1; i <= rating; i++) {
                                        $("#span" + i).attr('class', 'fa fa-star');

                                    }
                                }

                                function CreateClick(rating) {
                                    $("#lbRating").val(rating);
                                    for (var i = 1; i <= rating; i++) {
                                        $("#span" + i).attr('class', 'fa fa-star');

                                    }
                                    for (var i = 1; i <= 5; i++) {
                                        $("#span" + i).attr('class', 'fa fa-star-o');

                                    }

                                }

                                function CreateSelected() {
                                    var rating = $("#lbRating").val();
                                    for (var i = 1; i <= rating; i++) {
                                        $("#span" + i).attr('class', 'fa fa-star');

                                    }
                                }

                                function VerifyRating() {
                                    var rating = $("#lbRating").val();
                                    if (rating == 0) {
                                        alert("Vui lòng chọn đánh giá");
                                        return false;
                                    }
                                }
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>