@model IEnumerable<Model.DTO_Model.DTOCheckoutCustomerOrder>

@{
    ViewBag.Title = "ListCheckOut";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<script src="~/js/jquery-3.3.1.min.js"></script>
@if (Model.Count() != 0)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Danh sách Khách đặt hàng</h6>
        </div>
        <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn xác nhận xóa không?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input style="height:200px ;width:100%" type="text" id="reason" onchange="UpdateReason()" name="reason" />
                        <br />
                        <p style=" color:red">Nhập lý do và bấm Xóa để xác nhận xóa, Đóng để hủy</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <a class="btn btn-primary" onclick="xoaSanPham()">Xóa</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã khách hàng</th>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            @*<th>Địa chỉ</th>
                            <th>Thành Phố</th>
                            <th>Mã CODE</th>
                            <th>Giảm giá</th>*@
                            <th>Tổng tiền </th>
                            <th>Sản phẩm đã đặt hàng</th>
                            <th>Trạng thái</th>
                            <th>Thanh toán</th>
                            <th>Lựa chọn</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã khách hàng</th>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            @*<th>Địa chỉ</th>
                            <th>Thành Phố</th>
                            <th>Mã CODE</th>
                            <th>Giảm giá</th>*@
                            <th>Tổng tiền</th>
                            <th>Sản phẩm đã đặt hàng</th>
                            <th>Trạng Thái</th>
                            <th>Thanh toán</th>
                            <th>Lựa chọn</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item._id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SDT)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Zipcode)
                                </td>
                                <td>
                                    @string.Format("{0:0,0}", item.GiamGia)
                                </td>*@
                                <td>
                                    @string.Format("{0:0,0}", item.TongTien) VNĐ
                                </td>
                                <td>
                                    @item.ProductOrder.Count() Cái
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TrangThai)
                                </td>
                                @if (item.State == true)
                                {

                                    <td>Đã thanh toán</td>
                                }
                                else
                                {
                                    <td>Chưa thanh toán</td>
                                }
                                <td>
                                    <a class="btn btn-success " style="width:100px;height:40px" href=" @Url.Action("Edit", "Checkout_Customer", new { id = item._id })">Chỉnh sửa</a><br />
                                    <a class="btn btn-primary "  style="width:100px;height:40px" href=" @Url.Action("Details", "Checkout_Customer", new { id = item._id })">Chi tiết</a><br />
                                    <button type="button"  style="width:100px;height:40px" class="btn btn-danger" data-toggle="modal" onclick="target('@item._id')" data-target="#del">
                                        Xóa
                                    </button>

                                    <div>
                                        <p style="color:red"> @ViewBag.Mess</p>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <span class="font-weight-bold" style="text-align:center">Chưa có đơn đặt hàng nào</span>
}
<script>
    var reason;
    var del;
    function target(id) {
        del = id;
    }
    function UpdateReason() {
        reason = $('#reason').val();

        console.log("value is:" + reason);

    }
    function xoaSanPham() {
        $.ajax({
            url: '/Checkout_Customer/Delete',
            data: { id: del ,reason : reason },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.mes)
                    location.reload();
                else
                    alert("Không thể xóa vì khách hàng còn đơn đặt hàng");
            }
        });
    }
</script>