@model Model.DTO.DTO_Ad.DTO_User_Acc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Chi tiết tài khoản của khách hàng</h6>
</div>

<div class="justify-content-center">

    <hr />
    <dl class="dl-horizontal justify-content-center">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName) : @Html.DisplayFor(model => model.FirstName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.LastName) :  @Html.DisplayFor(model => model.LastName)
        </dt>



        <dt>
            @Html.DisplayNameFor(model => model.Email) :  @Html.DisplayFor(model => model.Email)
        </dt>


    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model._id }) |
    @Html.ActionLink("Trở về", "Index")
</p>
