@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Details.cshtml";
}
@{
    List<DTO_Product_Item_Type> cart = (List<DTO_Product_Item_Type>)Session["cart"];
    var total = cart.Sum(item => item.Price * item.Quantity);
    var total1 = cart.Count();
    List<string> messages = (List<string>)ViewData["messages"];
    var message = ViewData["Message1"];
}
@using Model.DTO_Model;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="~/images/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/lib/slick/slick.css" rel="stylesheet">
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/css/style_SP.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="~/Product/Index">Danh sách sản phẩm</a></li>
                <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
            </ul>
        </div>
    </div>

    @{
        if (cart.Count > 0)
        {
            <div class="product-detail">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-lg-8">
                                <form class="form-horizontal" role="form" method="post" action="@Url.Action("Buy_", "Cart")">
                                    <div class="product-detail-top">

                                        @foreach (DTO_Product_Item_Type item in (List<DTO_Product_Item_Type>)Session["cart"])
                                        {
                                            <div class="row align-items-center">
                                                <div class="col-md-5">

                                                    <div class="product-slider-single normal-slider">
                                                        @if (item.Photo != null)
                                                        {
                                                            <img src="@Url.Content(item.Photo)" style="width:200px;height:300px;margin:auto" />
                                                        }
                                                        @if (item.Photo2 != null)
                                                        {
                                                            <img src="@Url.Content(item.Photo2)" style="width:200px;height:300px;margin:auto" />
                                                        }
                                                        @if (item.Photo3 != null)
                                                        {
                                                            <img src="@Url.Content(item.Photo3)" style="width:200px;height:300px;margin:auto" />
                                                        }
                                                    </div>
                                                    <div class="product-slider-single-nav normal-slider">
                                                        @if (item.Photo != null)
                                                        {
                                                            <div class="slider-nav-img"> <img src="@Url.Content(item.Photo)" /></div>
                                                        }

                                                        @if (item.Photo2 != null)
                                                        {
                                                            <div class="slider-nav-img"> <img src="@Url.Content(item.Photo2)" /></div>
                                                        }
                                                        @if (item.Photo3 != null)
                                                        {
                                                            <div class="slider-nav-img"> <img src="@Url.Content(item.Photo3)" /></div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="product-content">
                                                        @item.Name
                                                        <div class="ratting">
                                                            @for (int i = 0; i < item.Rating; i++)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                            @for (int i = item.Rating; i < 5; i++)
                                                            {
                                                                <i style="color:red" class="fa fa-star-o"></i>

                                                            }
                                                        </div>

                                                        @if (item.Items.Any())
                                                        {
                                                            var colors = item.Items.Select(s => s.Color);
                                                            var sizes = item.Items.Select(s => s.Size).ToList();
                                                           
                                                            <div class="flex-column align-items-center">
                                                                <label>Chọn màu</label>
                                                                @{ string selectColor = "selectColor" + item._id; }
                                                                <select name="@selectColor" required>
                                                                    @foreach (var item2 in item.Items)
                                                                    {
                                                                        
                                                                        <option value="@item2._id">@item2.Color</option>
                                                                    }
                                                                </select>
                                                            </div>

                                                            
                                                                <div class="flex-column align-items-center">
                                                                    <label>Chọn size</label>
                                                                    @{ string selectSize = "selectSize" + item._id; }
                                                                    <select name="@selectSize">
                                                                        @foreach (var size in sizes)
                                                                        {
                                                                            <option>@size</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            
                                                        }



                                                        <div>
                                                            <h4 class="product-price-range">Tổng giá sản phẩm</h4>
                                                            <p><span id="total-price_@item._id" style="color:red"> @string.Format("{0:0,0}", (item.Price * item.Quantity))</span> VNĐ</p>
                                                        </div>
                                                        <div class="quantity">
                                                            <h4 class="product-price-range">Số lượng:</h4>
                                                            <br />

                                                            <a class="btn btn-minus" id="giam" onclick="giamSoLuong('@item._id')"><i class="fa fa-minus"></i> Giảm số lượng </a>

                                                            <input readonly type="text" min="0" name="quantity" id="quantity_@item._id" value=" @item.Quantity " onchange="if (this.value <= 0) {this.value = '1';}">

                                                            <a class="btn btn-plus" id="tang" onclick="tangSoLuong('@item._id')"><i class="fa fa-plus"></i> Tăng số lượng </a>
                                                        </div>

                                                        <div class="p-color">

                                                            <div class="btn-group btn-group-sm">
                                                                <a class="btn" href="@Url.Action("Remove", "Product", new { id = item._id })">Xóa sản phẩm </a>
                                                            </div>
                                                        </div>
                                                        <div class="row product-detail-bottom">
                                                            <div class="col-lg-12">
                                                                <ul class="nav nav-pills nav-justified">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" data-toggle="pill" href="#description">Chi tiết sản phẩm</a>
                                                                    </li>
                                                                </ul>

                                                                <div class="tab-content">
                                                                    <div id="description" class="container tab-pane active">
                                                                        <p>
                                                                            @item.Details
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div class="row product-detail-bottom">
                                            <div class="col-lg-12">
                                                @{
                                                    if (messages != null)
                                                    {
                                                        foreach (string item in messages)
                                                        {
                                                            <h3 style="color:red;font-style:italic;text-align:center">- @item!</h3>

                                                        }
                                                    }
                                                }
                                                <ul class="nav nav-pills nav-justified">
                                                    <li class="nav-item">
                                                        <input type="submit" class="btn btn-outline-success" value="Xác nhận"><i class="fa fa-shopping-bag"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>



                                        @section Upload {
                                            <script>

                                                function tangSoLuong(id) {
                                                    var id_temp = id
                                                    $.ajax({
                                                        url: '/Product/Tang',
                                                        data: { Id: id },
                                                        dataType: 'json',
                                                        type: 'POST',

                                                        success: function (res) {
                                                            if (res.soLuong == 0) {
                                                                alert("Sản phẩm này đã vượt quá số lượng trong kho");
                                                            }
                                                            var dom_quantity = "#quantity_" + id_temp
                                                            var dom_price = "#total-price_" + id_temp
                                                            for (let i = 0; i < res.soLuong.length; i++) {

                                                                if (res.soLuong[i]["_id"] == id_temp) {

                                                                    $(dom_quantity).val(res.soLuong[i]["Quantity"])

                                                                    $(dom_price).html(res.soLuong[i]["Price"])
                                                                    break;
                                                                }
                                                            }
                                                        }

                                                    });
                                                }
                                                function giamSoLuong(id) {
                                                    var id_temp = id
                                                    $.ajax({
                                                        url: '/Product/Giam',
                                                        data: { Id: id },
                                                        dataType: 'json',
                                                        type: 'POST',
                                                        success: function (res) {
                                                            var dom_quantity = "#quantity_" + id_temp
                                                            var dom_price = "#total-price_" + id_temp
                                                            for (let i = 0; i < res.soLuong.length; i++) {
                                                                if (res.soLuong[i]["_id"] == id_temp) {
                                                                    $(dom_quantity).val(res.soLuong[i]["Quantity"])
                                                                    $(dom_price).html(res.soLuong[i]["Price"])
                                                                    break;
                                                                }
                                                            }

                                                        }
                                                    });
                                                }
                                            </script>
                                        }
                                    </div>
                                </form>
                                @Html.Action("BagProductRecommend", "Product")

                            </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <img src="~/images/imageCartNo.png" style="width:600px;height:300px" />
        }
    }

    <script>
        function AddCart() {
            Swal.fire({
                position: 'top',
                icon: 'success',
                title: 'Thành công',
                showConfirmButton: false,
                timer: 300000
            })
        }
    </script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>
</html>