@model  Model.DTO_Model.DTO_Product_Item_Type

@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
<link href="~/css/css_color.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Tạo sản phẩm</h6>
</div>
@using (Html.BeginForm("Create", "Products_Add", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model._id)

    <div class="form-group">
        Tên sản phẩm
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Giá sản phẩm
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Chi tiết sản phẩm
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Details, new { @id = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
        </div>

        <script>
            $(document).ready(function () {
                CKEDITOR.replace('ckeditor');
                CKEDITOR.config.pasteFromWordRemoveFontStyles = false;
                CKEDITOR.config.pasteFromWordRemoveStyles = false;
                CKEDITOR.config.htmlEncodeOutput = false;
                CKEDITOR.config.ProcessHTMLEntities = false;
                CKEDITOR.config.entities = false;
                CKEDITOR.config.entities_latin = false;
                CKEDITOR.config.ForceSimpleAmpersand = true;
                CKEDITOR.config.autoParagraph = false;
                CKEDITOR.config.language = 'vi';
                CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR
                CKEDITOR.config.shiftEnterMode = CKEDITOR.ENTER_BR;
            });

        </script>

    </div>
    <div class="form-group">
        Chọn hình ảnh cho sản phẩm
        <div class="col-md-10">
            <ol>

                <ol>
                    <li>
                        <input type="file" name="ImageUpload" id="ImageUpload" onchange="upAnh(this)" />

                        <img src="" style="height:60px; width:50px; margin:10px; " id="chonAnh" />
                    </li>

                    <li>
                        <input type="file" name="ImageUpload2" id="ImageUpload2" onchange="upAnh2(this)" />

                        <img src="" style="height:50px; width:50px; margin:10px; " id="chonAnh2" />
                    </li>

                    <li>

                        <input type="file" name="ImageUpload3" id="ImageUpload3" onchange="upAnh3(this)" />

                        <img src="" style="height:50px; width:50px; margin:10px; " id="chonAnh3" />
                    </li>
                </ol>
            </ol>

            <p style="color:red">@ViewData["ErrorMessage"]</p>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

            });
            function upAnh(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#chonAnh").attr("src", e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function upAnh2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#chonAnh2").attr("src", e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function upAnh3(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#chonAnh3").attr("src", e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    </div>
    <div class="form-group">
        Chon loại sản phẩm
        <div class="col-md-10">
            @Html.Action("ListTypeProductAdmin", "Admin")
        </div>
    </div>

    <div class="form-group">
        Chon màu sản phẩm
        <div class="col-md-10">
            <select style="width:200px;margin-left:10%" name="selectColor" required>
                <option>Xanh </option>
                <option>Đỏ</option>
                <option>Tím</option>
                <option>Vàng</option>
                <option>Cam</option>
                <option>Trắng</option>
                <option>Đen</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        Nhập số lượng
        <div class="col-md-10">
            @Html.EditorFor(model => model.QuantityBuy, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.QuantityBuy, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p style="color:red">@ViewData["ErrorMessage2"]</p>
        <div class="col-md-offset-2 col-md-10">
            <input class="btn btn-primary" type="submit" value="Thêm sản phẩm" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Upload {
    <script>
        $(function () {
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });
            $('#fileUpload').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);
                    $.ajax({
                        type: 'POST',
                        url: '~/Products_Add/ProcessUpload',
                        contentTyle: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {
                            $('#pictureUpload').attr('src', urlImage);

                        },
                        error: function (err) {
                            alert('có lỗi khi upload' + err.statusText);
                        }

                    });
                }

            });
        });
    </script>
}