@model Model.DTO.DTO_Client.DTO_Users_Acc

@{
    ViewBag.Title = "Profile cá nhân";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    string fullName =null;
    if (Model.FirstName!=null && Model.LastName != null)
    {
        fullName = Model.FirstName + " " + Model.LastName;
    }
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    .tieude_giua {
        text-align: center;
        text-transform: uppercase;
        color: #4d2b00;
        font-size: 30px;
        background: url(images/tieude_center.png) no-repeat bottom center;
        padding-bottom: 10px;
        margin-bottom: 2.5%;
        font-family: 'UTM Impact';
    }

    h2 {
        font-size: 16px;
        font-weight: bold;
    }

    .txt {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        padding: 10px;
    }

    table tr {
        margin-top: 10px;
    }

    .btn-login {
        background-color: #ffb0bd;
        color: white;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .warning {
        text-align: left;
    }

        .warning ul {
            list-style: none;
            margin-left: -40px;
        }
</style>
<div class="row" style="padding-top:50px;">
    <div class="col-md-3 col-sm-10" style="border: 1px solid black;margin:10px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3" style="margin-top:20px;"><img src="~/Content/Image/cat.jpg" style="height:100px; width:100px;border-radius:50px;" align="middle" /></div>
            <div class="col-md-3"></div>
        </div>

        <h2 style="color:red">Xin chào: @fullName</h2>
        <ul style="list-style:none;">
            <li>@Html.ActionLink("Thông tin tài khoản", "ProfileUser", new { usr = Model.Email }) </li>
            <li><a onclick="ShowOrder()" id="btnShowOrder" href="#">Lịch sử đơn hàng</a></li>
            <li>@Html.ActionLink("Đổi mật khẩu", "ResetPassword2", new { id = Model._id, mail = Model.Email })</li>
            <li>@Html.ActionLink("sản phẩm yêu thích của tôi", "ProductFavorite")</li>
            <li>@Html.ActionLink("Đăng xuất", "Logout")</li>
            <li><a href="~/Home/Index">Trở về trang chủ</a></li>
        </ul>
    </div>
    <div class="col-md-8 col-sm-10" style="border: 1px solid black;margin:10px;">
        <h2 style="color:lightseagreen;font-size:25px;margin-top:20px;padding-bottom:10px;border-bottom:1px solid #ffb0bd">HỒ SƠ CỦA TÔI</h2>
        <p style="text-align:left">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
        @using (Html.BeginForm("ProfileUser", "Customer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(Model => Model._id)
            @Html.HiddenFor(Model => Model.Email)
            @Html.HiddenFor(Model => Model.Password)
            @Html.HiddenFor(Model => Model.ConfirmPassword)
            @Html.HiddenFor(Model => Model.RoleId)

            <table>
                <tr>Họ </tr>
                <tr>@Html.TextBoxFor(Model => Model.LastName, new { @class = "txt" })</tr>
                <tr>Tên đệm</tr>

                <tr>@Html.TextBoxFor(Model => Model.FirstName, new { @class = "txt" })</tr>

                <tr>Tỉnh/Thành phố:</tr>

                <tr>
                    <select class="txt" name="City">
                        @if (Model.City != null)
                        {
                            <option selected>@Model.City</option>
                        }
                        else
                        {
                            <option selected>Hà Nội</option>
                        }

                        <option>Hồ Chí Minh</option>
                        <option>Đà Nẵng</option>
                        <option>Huế</option>
                        <option>Đăk Lăk</option>
                        <option>Nghệ An</option>
                        <option>Hà Tĩnh</option>
                        <option>Khánh Hóa</option>
                        <option>Phú Yên</option>
                        <option>Quảng Ngãi</option>
                        <option>An Giang</option>
                        <option>Tiền Giang</option>
                        <option>Long An</option>
                    </select>
                </tr>
                
                <tr>Địa chỉ:</tr>
                <tr>@Html.TextBoxFor(Model => Model.Address, new { @class = "txt" })</tr>

                <tr>Điện thoại:</tr>
                <tr>@Html.TextBoxFor(Model => Model.PhoneNumber, new { @class = "txt" })</tr>

                <tr class="warning">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "list-style-type:none;" })
                </tr>
            </table>
            <button type="submit" class="btn btn-login btn-success">CẬP NHẬT THÔNG TIN</button>
            <font style="color:#7c1b1b">@ViewBag.Result</font>
        }
    </div>
</div>
<div id="contentShowOrder" style=" display:none">
    <div class="tieude_giua">
        Lịch sử đơn hàng
    </div>
    @Html.Action("ProductBought", "Customer");
    <button class="btn btn-login btn-success" onclick="CloseStuff()">Đóng</button>
</div>
<script>
    function ShowOrder() {
        $("#contentShowOrder").show();
    }

    function CloseStuff(id) {
        $("#contentShowOrder").css("display", "none");
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/slick/slick.min.js"></script>
<script src="~/js/main.js"></script>